* {
	color: whitesmoke;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(67deg, black 30%, darkviolet, indianred);
}

.title {
	font-family: cursive;
	font-size: 2rem;
}
#welcome-section {
	display: none;
	justify-content: space-between;
}
.wrapper {
	display: flex;
	justify-content: space-between;
	width: 90%;
}

.rounded {
	border-radius: 40px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin-top: 10px;
}
.project {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.project-title {
	font-size: 2rem;
	text-align: center;
	font-family: cursive;
}
.tech {
	width: 50px;
	padding: 5px 14px;
	background-color: darkviolet;
	border-radius: 20px;
	font-size: 1rem;
	z-index: 3;
}
.tech:hover {
	background-color: #8e5eb5;
	cursor: pointer;
}
.w-screen {
	display: flex;
	width: 100%;
	margin: auto;
}
.image {
	margin-top: 30px;
}
a {
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
a:hover {
	filter: brightness(90%);
}
.bold {
	font-weight: bolder;
}
.absolute {
	position: absolute;
	z-index: 2;
	margin: auto;
	color: white;
	padding: 5px 12px;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4px 5px;
}
.bg-slate {
	background-color: rgb(117, 9, 211);
	padding: 18px 17px;
	border-radius: 40px;
	cursor: pointer;
	z-index: 5;
}

.bg-slate:hover {
	background-color: #b6bff7;

	transform: scale(1.1);
	animation-duration: 90000ms;
}

i:hover {
	color: black;
}
a i {
	flex-direction: column;
	text-align: center;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.paddingx {
	padding: 0px 10px;
	display: flex;
	justify-content: center;
}
.small {
	font-size: smaller;
	font-weight: 200;
	flex-direction: row;
	align-items: center;
}
.dashed {
	border: 2px dashed;
}
.scroll {
	width: 80%;
	overflow-x: scroll;
	scroll-behavior: smooth;
}
.scroll p {
	text-wrap: nowrap;
}
::-webkit-scrollbar {
	width: 50px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background: #aa08f5;
	border-radius: none;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: none;
}
.menu {
	display: flex;
	flex-direction: column;
	width: 10%;
}
.menu-sub {
	height: 85%;
	gap: 30px;
	position: fixed;
	top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.menu-button {
	border-radius: 23px;
	background-color: #b511de;

	outline: 4px solid #9b3a3a;
	height: 100%;
	color: black;
	font-weight: 700;
	cursor: pointer;
}
.menuhide {
	display: none;
}

.skills {
	width: 700px;
}

.height20 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
}
.bigger {
	font-size: xx-large;
}
.gap {
	gap: 30px;
}
.onActive {
	border-color: rgb(39, 73, 135);
	border-width: 7px;
}
.transition {
	transition: all linear 2000s;
}

.hoverPurple:hover {
	color: rgb(39, 73, 135);
}

/* default is darkmode, add this class to each  item darkmodable */
.light-mode {
	color: black;
	color-scheme: inherit;
	background: linear-gradient(
		190deg,
		rgb(199, 45, 245) 30%,
		rgb(218, 137, 255),
		rgb(255, 255, 255)
	);
	color: whitesmoke;
}

/* Personal css */
.personal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #52435e;
	gap: 30px;
	height: 800px;
}

.personal,
.light-mode {
	background: #000;
}

.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.overflowhorizontal {
	margin-top: 40px;
	display: flex;
	overflow-x: visible;
	align-self: flex-start;
	height: 180px;
	overflow-y: scroll;
	padding-right: 40px;
	gap: 20px;
}

.overflowhorizontal::-webkit-scrollbar {
	width: 3px;
}

.overflowhorizontal p {
	text-align: center;
	text-wrap: nowrap;
	z-index: 2;
}

.colnew {
	display: flex;
	flex-direction: column;
	transform: translateX(12px);
}
a.card {
	color: white;
}

.left {
	display: flex;
	align-self: flex-start;
}
.card {
	display: flex;
	align-self: flex-end;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 80%;
	width: 100%;
	background-color: slategrey;
	filter: blur(2px);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 40px;
	text-wrap: nowrap;
	padding-right: 3px;
	padding-left: 3px;
}

.skill-icon {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	font-size: 3rem;
	cursor: pointer;
	font-family: Georgia, "Times New Roman", Times, serif;
	height: 400px;
	overflow-y: scroll;
	gap: 20px 0;
	width: 200px;
}

.skill-icon::-webkit-scrollbar {
	width: 2px;
	/* make the webkit scroll bar red color */
	background-color: red;
}

.personal {
	border-radius: 0px 20px 0px 0px;
	background: linear-gradient(90deg, #050505 80%, #351515);
	align-self: flex-start;
}

.red {
	color: rgba(225, 177, 177, 0.925);
}

.gapsmall {
	gap: 3px;
}

.description {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	align-items: center;
	width: 70%;
	/* filter: blur(10px); */
	color: rgb(198, 167, 167);
	column-gap: 130px;
	font-family: cursive;
}
.certificates {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	align-items: center;
	row-gap: 30px;
	text-align: center;
}

.sub {
	display: flex;
	justify-content: center;
}
.button-download {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 30px;
	background: linear-gradient(23deg, #b511de, #9b3a3a);
	position: fixed;
	bottom: 12px;
	border-radius: 20px;
	font: 500;
	cursor: pointer;
}
.button-download:hover {
	background: linear-gradient(23deg, #9b3a3a, #b511de);
	border: 2px dashed white;
}
.text-white {
	color: white;
}
.uppercase {
	text-transform: uppercase;
}

/* Personal css */

/* these for Mobile */
@media screen and (max-width: 500px) {
	body {
		overflow-x: visible;
	}
	h1.title {
		font-size: x-large;
	}
	i.fui-facebook.small,
	i.fui-youtube.small,
	i.fui-github.small,
	i.fui-linkedin.small {
		display: flex;
		width: 100px;
		justify-content: center;
	}
	i p {
		display: none;
	}

	header {
		display: flex;
		flex-direction: column-reverse;
	}
	h1.project-title {
		font-size: medium;
	}
	div.skills.flex.scroll {
		display: flex;
		width: 400px;
	}
	span.tech.dashed {
		font-size: small;
		padding: 2px 8px;
	}
	img.w-screen.rounded {
		width: 90%;
	}
	.paddingx.bigger.bg-slate.gap {
		background-color: transparent;
	}

	::-webkit-scrollbar {
		width: 30px;
		height: 4px;
	}

	.menu {
		display: flex;
		position: fixed;
	}
	.menu-sub {
		display: none;
		right: 9%;
	}
	.menu-button {
		height: 90px;
	}
	.menuhide {
		display: block;
		position: fixed;
		right: 12%;
		bottom: 8%;
		border-radius: 50px;
		padding: 13px;
		border: 2px dashed;
		background: linear-gradient(23deg, rgb(82, 16, 82), rgb(49, 63, 100));
		cursor: pointer;
	}
	.menuhide:hover {
		transform: scale(1.2);
	}
	.menuhide:active {
		transform: scale(1.2);
	}
	.burger {
		width: 30px;
		height: 6px;
		margin-top: 5px;
		margin-right: auto;
		background-color: rgb(239, 53, 239);
		margin-left: auto;
	}
	.burger:hover {
		background: linear-gradient(123deg, violet, white);
	}
	.hide {
		display: none;
	}
	.show {
		display: flex;
	}
	div.techs {
		flex-wrap: wrap;
	}

	/* Personal on mobile */
	div.flex.gap {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		margin-top: 300px;
	}
	div.personal {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
	}
	div.flex {
		display: flex;
	}
	div.red {
		font-size: medium;
		text-wrap: wrap;
		align-items: center;
		color: white;
		width: 400px;
		padding-left: 20px;
	}
	.intro {
		display: flex;
		flex-direction: column-reverse;
	}
	.description {
		display: flex;
		flex-direction: column;
	}
	div.flex.mobile {
		display: flex;
		flex-direction: column-reverse;
	}
}
